/* ******************************Body************************************** */

body{


background-color: rgb(24, 23, 23);


  }


  
  
/*  ***************************Header/ p******************************/

p{
  color: rgb(0, 0, 0);
  text-align: center;
}

/* ******************************Footer*********************************** */

.bar{
  list-style: none;
  font-size: 1,8vw;
}
footer{
  height: 20%;
  width: 100%;
  
}
.foot{
  /* background-color: rgb(206, 200, 205); */
  background-color: rgb(37, 32, 37);
  margin: 0px;
  padding: 5% 0% 4% 0%;
}

li a{
  color: white;
  font-weight: bold;
}

/* ********************************H (titre)**************************************** */

h1, h2, .infos{
  text-align: center;
  color: black;
}
h1{
  padding: 50px 55px 20px 55px;
  font-size: 7vh; 
}

h2{
  font-size: 5vh;
}


/* *************************************projets/cards*************************************** */



h5{
  font-style: italic;
  font-weight: bold;
}

#etc{
  padding-top: 3vh;
}


.zoom:hover {
  transform: scale(1.3); 
  z-index: 7;
}
.card{
  padding: 5px;
  margin:10px;
}
.dispo{
  margin: 10px 10px 20px 10px;
  text-align: center;
  justify-content: center;
  
}
.bg-transparent{
  width: 18rem;
  /* height: 400px; */
  height: 100%;
}
#projectsAll{
  
}


/* ******************************Titres des pages************************************** */

#titre{
  padding: 6vh 3vw 5vh 3vw;
  font-size: 150%;
  font-weight: bold;
}

/* *********************************Compétences*********************************** */

.centre{
  text-align: center;
  color: white;
  font-size: 8vh;
}

.par{
  padding: 3vh;
  margin: 3vh;

}

.cv a{
  color: white;
  text-align: center; 
  }
  .bla{
    text-align: center; 
    font-weight: bold;
  }
p.forma{
  font-size: 100%;
  font-weight: bold;
  padding-top: 2vW;
  padding-bottom: 2vW;

}
/* ********************************Index************************************ */

.infos{
  padding-bottom: 65px;
  text-decoration: none;
}
.infos a{
  color: black;
}

.mail{
  padding-right: 2vw;
  padding-inline-start: 2vw;
}

.cadre{
  border: solid rgb(253, 252, 253) 4px;
  margin-left: 26vw;
  margin-right: 26vw;

}


/* ******************************************************************** */

/* *{
  color: rgb(214, 81, 134);
} */

/* h1, h2, p{
  color: rgb(243, 8, 153);
} */

/* h1, h2, p{
  color: rgb(245, 167, 215);
} */
 *, h1, h2, p, a, href, #aa, #ab, button {
  /* color: rgb(214, 81, 134); */
  color: rgb(228, 215, 220);

} 

li a{
  font-weight: bold;
}

href{
  text-decoration: none;

}
/* 
btn{
  background-color: hotpink;

} */

 button {
  background-color: rgb(37, 32, 37);

} 

#plus{
  margin-bottom: 5px;
}

.soc:hover, a:hover, footer a:hover{
  text-decoration: none;
 /* color: rgb(240, 185, 217); */
 color: rgb(228, 115, 158);

}

.card{
  border: 2px solid rgb(252, 250, 250);
}

article{
  margin-bottom: 15px;
}
#id{
  color: black;
}